{{!-- Contents of the main page--}}

<ul id = "burger-container">

{{#each burgers}}

{{#if this.devoured}}

{{else}}

<li id = "burger-{{this.id}}">{{this.burger_name}}</li>

{{/if}}


{{/each}}

</ul>

<ul id = "eaten-container" class = "text-danger">

{{#each burgers}}

{{#if this.devoured}}

<li id = "burger-{{this.id}}">{{this.burger_name}}</li>

{{/if}}


{{/each}}

</ul>